.app-wraper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: #20fcff;
}

.header img {
    width: 50px;
    border-radius: 5px;
    opacity: 0.5;
}

.nav {
    grid-area: n;
    background-color: #ffeecd;
}

.content {
    grid-area: c;
    background-color: #a3ff83;
}